.footerText, .headerText{
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #f1c40f;
    padding: 6px 60px;
}
.headerContainer, .footerContainer{
    margin-left: 150px;
    margin-right: 150px;
}
.headerContainer{
    background-color: #f1c40f;
}
.footerText{
    font-size: 20px;
    /* text-align: left; */
}

.buttonStart{
    font-size: 16px;
    font-weight: bold;
    background: #2980b9;
    color: #FFF;
    margin-left: 290px;
    margin-right: 290px;
}

/* About threads */


.progressBar > trough{
    margin-bottom: 5px;
    padding-top: 12px;
    padding-bottom: 9px;
}
.progressBar > trough > progress{
    background-image: none;
    background-color: #27ae60;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px 4px 4px 2px;
}